.modal {
  z-index: 1;
  width: 976px;
  height: 860px;
  background-color: rgb(64, 64, 64);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalbody {
  display: flex;
}

.leftside input, select {
  width: 520px;
}

.rightside input {
  width: 320px;
}

.leftside {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.rightside {
  display: flex;
  flex-direction: column;
}

.overview {
  color: white;
  display: flex;
  flex-direction: column;
  resize: none;
}

.overview textarea {
  width: 100%;
  height: 200px;
  border: solid 2px #f65261;
  padding-left: 15px;
  font-size: 25px;
  text-align: left;
  opacity: 70%;
  color: white;
  background: rgba(50, 50, 50, 0.8);
  border-radius: 4px;
  margin-right: 5px;
}

.modal select {
  border: solid 2px #f65261;
  padding-left: 15px;
  font-size: 25px;
  text-align: left;
  height: 57px;
  opacity: 70%;
  color: white;
  background: rgba(50, 50, 50, 0.8);
  border-radius: 4px;
  margin-right: 5px;
}

.modal .action {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.modal .action button {
  width: 186px;
  height: 57px;
  border: 1.5px solid #f65261;
  border-radius: 4px;
  font-size: 20px;
  margin: 0px 10px;
  cursor: pointer;
}

.modal .action .resetBtn {
  color: #f65261;
  border-color: #f65261;
  background-color: #424242;
}

.modal .action .submitBtn {
  color: white;
  border-color: #f65261;
  background-color: #f65261;
  margin-right: 0px;
}

.modal h1 {
  font-size: 40px;
  color: white;
  font-weight: 100;
}

.modal label {
  color: #f65261;
  font-size: 16px;
  padding: 20px 0px 12px 0px;
}


.modal .close {
  position: absolute;
  color: white;
  top: 15px;
  left: 940px;
  cursor: pointer;
  font-size: 25px;
}
