.banner {
  height: 396px;
  left: 58px;
  top: 54px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.picture {
  background-image: url("../../assets/moviebanner2.PNG");
  background-size: cover;
  background-position: center;
  /* margin-bottom: 10px; */
}

.upperBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

/* h2-ben class */
.upperBarTitle {
  color: #f65261;
}

.title {
  color: white;
  display: flex;
  letter-spacing: 2px;
  justify-content: left;
  margin: 40px 0px;
  font-size: 20px;
  padding-left: 120px;
}

.title h1 {
  margin: 0px;

}

.searchBar {
  display: flex;
  justify-content: center;
}

.addButton {
  background: rgba(96, 96, 96, 0.7);
  border-radius: 4px;
  width: 177px;
  height: 46px;
  color: #f65261;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in;
}

.addButton:hover {
  color: #ffffff;
  background-color: #f65261;
  transition: color 1s ease-in;
  transition: background-color 0.2s ease-in;
}

input {
  border: solid 2px #f65261;
  padding-left: 15px;
  font-size: 25px;
  text-align: left;
  width: 713px;
  height: 57px;
  opacity: 70%;
  color: white;
  background: rgba(50, 50, 50, 0.8);
  border-radius: 4px;
  margin-right: 5px;
}

.searchInput {
  color: white;
  opacity: 100%;
}

.searchbutton {
  border: none;
  cursor: pointer;
  width: 233px;
  height: 57px;
  background: #f65261;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 5px;
  transition: background-color 0.2s ease-in;
}
.searchbutton:hover {
  background: white;
  color: #f65261;
  transition: color 1s ease-in;
  transition: background-color 0.2s ease-in;
}

span {
  font-weight: bold;
}

@media screen and (max-width: 990px) {
  .searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchbutton {
    margin-top: 10px;
  }
}