.modal {
  width: 976px;
  height: 860px;
  background-color: rgb(64, 64, 64);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalbody {
  display: flex;
}

.leftside input,
select {
  width: 520px;
}

.rightside input {
  width: 320px;
}

.leftside {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.rightside {
  display: flex;
  flex-direction: column;
}

.overview {
  color: white;
  display: flex;
  flex-direction: column;
  resize: none;
}

.overview textarea {
  width: 100%;
  height: 200px;
  border: solid 2px #f65261;
  padding-left: 15px;
  font-size: 25px;
  text-align: left;
  opacity: 70%;
  color: white;
  background: rgba(50, 50, 50, 0.8);
  border-radius: 4px;
  margin-right: 5px;
}

.modal select {
  border: solid 2px #f65261;
  padding-left: 15px;
  font-size: 25px;
  text-align: left;
  height: 57px;
  opacity: 70%;
  color: white;
  background: rgba(50, 50, 50, 0.8);
  border-radius: 4px;
  margin-right: 5px;
}

.modal .action {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.modal .action button {
  width: 186px;
  height: 57px;
  border: 1.5px solid #f65261;
  border-radius: 4px;
  font-size: 20px;
  margin: 0px 10px;
  cursor: pointer;
}

.modal .action .resetBtn {
  color: #f65261;
  border-color: #f65261;
  background-color: #424242;
  transition: all 0.5s ease-in-out;
}

.modal .action .submitBtn {
  color: white;
  border: none;
  border-color: #f65261;
  background-color: #f65261;
  margin-right: 0px;
  transition: all 0.5s ease-in-out;
}

.modal .action .submitBtn:hover {
  color: #f65261;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.modal .action .resetBtn:hover {
  color: #f65261;
  background-color: white;
  transition: all 0.5s ease-in-out;
  border-color: white;
}

.modal h1 {
  font-size: 40px;
  color: white;
  font-weight: 100;
}

.modal label {
  color: #f65261;
  font-size: 16px;
  padding: 20px 0px 12px 0px;
}

.modal .close {
  position: absolute;
  color: white;
  top: 25px;
  left: 925px;
  cursor: pointer;
  transition: all 0.4s ease-in ;
}

.modal .close:hover {
  transform: rotate(180deg);
  color: #f65261;
 }

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal .errorMessage {
  background-color: #f65261;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  margin: 30px 0px;
}

.modal .errorCloseIcon {
  position: absolute;
  right: 70px;
  cursor: pointer;
}
