.filterBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #232323;
  color: white;
  text-transform: uppercase;
}

.categories {
  display: flex;
  padding: 10px;
}

.categories > button {
  padding: 5px 15px;
  margin: 0px 4px;
  cursor: pointer;
  transition: all 0.4s ease-in;
  background: #f65261;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius:4px;
  border: none;
}

.categories > button:hover {
  background: white;
  color: #f65261;  
  transition: all 0.4s ease-in;

}

.categories .active {
  background: white;
  color: #f65261; 
}

.sortSection {
  display: flex;
  align-items: center;
}

.sortSection > div {
  padding: 0px 10px;
}

.sortSection > select {
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0px 15px;
  width: 200px;
  height: 35px;
  background-color: #232323;
  color: white;
  border-radius: 4px;
  border-color: #f65261;
  text-align: center;
}

.movieCounter {
    background-color: #232323;
    color: white;
    padding: 10px;
    padding-left: 65px;
}
