.card {
border-radius: 10px;
  position: absolute;
  width: 686px;
  height: 560px;
  background-color: rgb(64, 64, 64);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logincard h1{
  color: white;
  font-size: 35px;
  margin-left: 52px;
}

.logincard p {
    color: white;
}

.logincard .inputs {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.logincard input {
  width: 522px;
  height: 57px;
  background: rgba(50, 50, 50, 0.948044);
  opacity: 0.8;
  border-radius: 4px;
}

.logincard label {
  color: #f65261;
  margin: 20px 0px;
  letter-spacing: 1px;
}

.logincard .action {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.logincard .action button {
  width: 186px;
  height: 57px;
  border: 1.5px solid #F65261;
  border-radius: 4px;
  font-size: 20px;
  margin: 0px 10px;
  cursor: pointer;
}

.logincard .action .resetBtn {
    color: #f65261;
    border-color: #f65261;
    background-color: #424242;
}

.logincard .action .loginBtn {
    color: white;
    border-color: #f65261;
    background-color: #f65261;
    margin-right: 6px;
}
