.card {
  width: 330px;
  height: 470px;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 10px;
  position: relative;
}

.card:hover {
  transition: all 0.5s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #F65261;
}

.image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.info {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
  margin-top: 5px;
  font-size: 18px;
}

.year {
  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255);
  padding: 2px 10px;
}

.genre {
  display: flex;
  margin-left: 10px;
  font-size: 12px;
}

.circle {
  background-color: #F65261;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
  left: 290px;
  top: 10px;
}

.firstDot, .secondDot, .thirdDot{
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  position: absolute;
}

.firstDot {
  left:12px;
  top:4px
}

.secondDot{
  left:12px;
  top:12px
}

.thirdDot{
  left:12px;
  top:20px
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  background-color: #F65261;
  width: 80px;
  align-items: center;
  position: absolute;
  top: 45px;
  left: 265px;
  border-radius: 10px;
}

.editModal, .deleteModal {
  padding: 5px;
  cursor: pointer;
}
