.movieBanner {
  color: white;
  max-width: 1200px;
  height: 550px;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 10px 64px;
  margin-bottom: 10px;
}

.movieBanner .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.movieBanner .infoPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.movieBanner .movieInfo {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}

.movieBanner .image {
  object-fit: cover;
  height: 450px;
}

.movieBanner .pageTitle,
.secondRow {
  color: #f65261;
}

.movieBanner .firstRow,
.secondRow,
.thirdRow {
  display: flex;
  flex-direction: row;
}

.movieBanner .firstRow {
  align-items: center;
}

.movieBanner .title,
.vote_average,
.genre,
.runtime,
.release_date,
.overview {
  padding: 0px 25px;
}

.movieBanner .overview {
  text-align: justify;
}

.movieBanner .searchIcon {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.movieBanner .searchIcon:hover {
  color: #f65261;
  transform: rotate(-35deg);
  transition: all 0.5s ease-in-out;
}

.movieBanner span {
  border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 13px;
    border: 3px solid #f65261;
    text-align: center;
}