h1 {
    margin: 10px;
}

p {
    margin: 10px;
}

button {
    font-weight: 700;
    border-radius: 6px;
    height: 30px;
    margin: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

input {
    height: 25px;
    margin-left: 10px;
}


